[MASTER]
jobs=4
unsafe-load-any-extension=no
init-hook="from pylint.config import find_pylintrc;

[REPORTS]
output-format=text

[MESSAGES CONTROL]
disable=
    C0114,
    C0115,
    C0116,
    too-few-public-methods,
    too-many-locals,
    too-many-arguments,
    broad-except

[BASIC]
min-public-methods=1
